@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #1D1D1D;
    --secondary-color: #E8E8E8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color)
}

.nav-container {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 4em;
    height: 4em;
    margin-bottom: 10px;
}

.logo-container span {
    font-family: "Playfair Display", serif;
    font-size: 1em;
    margin-left: 1em;
    position: relative;
    cursor: pointer;
}

.logo-container span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 60%;
    margin-top: -0.5px;
    background: var(--secondary-color)
}

.logo-container span:before {
    left: 0.5px;
}
.logo-container span:after {
    right: 2.5px;
    background:var(--secondary-color);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.logo-container span:hover:before {
    background: var(--secondary-color);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.logo-container span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.desktop-menu-container {
    display: none;
}

.main-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--primary-color);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-container img {
    width: 20em;
    height: 35em;
    object-fit: cover;
    filter: grayscale(100%);
    will-change: filter;
}

.card-container button {
    position: absolute;
    top: 0;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    border-radius: 50px;
    opacity: 0;
    transform: translateY(550px);
}

.card-container img, .card-container button {
    transition: all 0.4s ease-in-out;
}

.card-container:hover img {
    filter: grayscale(0%);
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0));
    transform: scale(1.05);
}

.card-container:hover button {
    transform: translateY(520px);
    opacity: 1;
}

.card-container button:hover {
    background-color: #e8e8e85f
}

.footer-container {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-container i:hover {
    animation: icon-shacking 0.2s ease infinite;
}

@keyframes icon-shacking {
    0% {
        transform: rotate(0deg), scale(1);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg),scale(3);
    } 
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg), scale(1);
    }
}

.grid-area-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    grid-template-rows: 1fr 30fr 1fr;
}

@media (min-width: 576px) {
    .grid-area-container {
        grid-template-areas: 
            "nav main"
            "nav main"
            "nav footer";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 6fr;
    }

    .nav-container {
        width: 24em;
        flex-direction: column;
        justify-content: center;
    }

    .logo-container {
        margin-bottom: 4em;
    }

    .logo-container img {
        width: 6em;
        height: 6em;
    }

    .logo-container span {
        font-size: 1.5em;
    }

    .mobile-menu-container {
        display: none;
    }

    .desktop-menu-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .desktop-menu-container a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 2em;
        color: var(--secondary-color);
        cursor: pointer;
    }
    
    .desktop-menu-container a:before, a:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 0%;
        margin-top: -0.5px;
        top: 50%;
        background: var(--secondary-color)
    }

    .desktop-menu-container a:before {
        left: -2.5px;
    }
    .desktop-menu-container a:after {
        right: 2.5px;
        background:var(--secondary-color);
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    
    .desktop-menu-container a:hover:before {
        background: var(--secondary-color);
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    
    .desktop-menu-container a:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
    }

    .main-container {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(4,1fr);
    }

    .footer-container {
        height: 7em;
    }
}